.form-item-error {
  color: red;
}

input.ng-invalid.ng-touched {
  border-top: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 5px solid red;
}

input.ng-valid.ng-touched {
  border-top: 1px solid green;
  border-right: 1px solid green;
  border-bottom: 1px solid green;
  border-left: 5px solid green;
}